*.iml
.idea/
.ipr
.out
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
dist
lib
es
config/base.yaml
/.vscode/
/coverage
/build
yarn.lock
package-lock.json
/.history